.dashboardContent {
  height: 90%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  justify-content: space-between;

  background: #f2f2f2 0% 0%;
  @media screen and (min-width: 320px) and (max-width: 1080px) {
    height: 100%;
  }
}